@import "../../assets/constant.scss";
.button-wrapper-contact {
  display: flex;
  transition: 0.8s;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  button.button-call {
    display: flex;
    border-radius: $border;
    color: $primary-color;
    background-color: $secendary-color;
    transition: 0.4s;
    width: 55vw;
    height: 10vh;
    font-size: 24px;
    font-weight: bold;
    &:hover {
      background-color: $primary-color;
      color: white;
    }
    .services-button-contact{
      background-color: $primary-color;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      width: 100%;
      height: 100%;
      transition: 1s;
      &:hover {
        border-color: white;
        color: white;
      }
      svg {
        font-size: 35px;
        margin-right: 2%;
      }
    }
  }
}
