@use "../../assets/constant.scss" as constants;
.button-wrapper-contact {
  display: flex;
  transition: 0.8s;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  button.button-call {
    display: flex;
    border-radius: constants.$border;
    color: constants.$primary-color;
    background-color: constants.$secendary-color;
    transition: 0.4s;
    width: 55vw;
    height: 10vh;
    font-size: 24px;
    font-weight: bold;
    &:hover {
      background-color: constants.$primary-color;
      color: white;
    }
    .services-button-contact{
      background-color: constants.$primary-color;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: constants.$primary-color;
      width: 100%;
      height: 100%;
      transition: 1s;
      &:hover {
        border-color: white;
        color: white;
      }
      svg {
        font-size: 35px;
        margin-right: 2%;
      }
    }
  }
}
@media screen and (max-width: 768px) and (orientation: landscape){
  .button-wrapper-contact {

    button.button-call {
      font-size: 10px;
      a {
        svg {
          font-size: 20px;
        }
      }
    }
  }
}