@use "../../assets/constant.scss" as constants;

.button-wrapper{
    a{  display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 100%;
        color:constants.$secendary-color;
    }
}

.button-wrapper.treatment{
    border-radius: constants.$border;
    background-color: constants.$primary-color;
    color: constants.$secendary-color;
    margin-top: 2vh;
    height: 20vh;
    width: 100%;
    a{
        font-size: 25px;
    }
}
.button-wrapper.contraindications{
    width: 90%;
    height: 10vh;
    background-color: constants.$secendary-color;
    font-size: 2.1vh;
    border: 1px solid constants.$primary-color;
    margin: 2vh 5%;
    border-radius: constants.$border;
    a{
        color: constants.$primary-color;
    }

}
.button-wrapper.disases-button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 10vh;
    background-color: constants.$primary-color;
    border-radius: constants.$border;
    font-size: 2.1vh;
}
.contradications-button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
    width: 45%;
    height: 10vh;
    border-radius: constants.$border;
    border:1px solid black;
    a{color:constants.$primary-color;}
}
.indications{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: constants.$primary-color;
    height: 10vh;
    border: 1px solid black;
    border-radius: constants.$border;
    margin: 2vh 2.5%;
    a{
        color: constants.$secendary-color;
    }

}

