@import "../../assets/constant.scss";

.button-wrapper{
    a{  display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color:$secendary-color;
    }
}

.button-wrapper.treatment{
    border-radius: $border;
    background-color: $primary-color;
    color: $secendary-color;
    margin-top: 2vh;
    height: 20vh;
    width: 100%;
}
