@import "../../assets/constant.scss";

.button-wrapper{
    a{  display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 100%;
        color:$secendary-color;
    }
}

.button-wrapper.treatment{
    border-radius: $border;
    background-color: $primary-color;
    color: $secendary-color;
    margin-top: 2vh;
    height: 20vh;
    width: 100%;
}
.button-wrapper.contraindications{
    width: 90%;
    height: 10vh;
    background-color: $primary-color;
    margin: 2vh 5%;
    border-radius: $border;

}
.button-wrapper.disases-button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 10vh;
    background-color: $primary-color;
    border-radius: $border;
    font-size: 2.1vh;
}
.contradications-button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
    width: 45%;
    height: 10vh;
    border-radius: $border;
    border:1px solid black;
    a{color:$primary-color;}
}
.indications{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid black;
    border-radius: $border;
    margin: 1vh 20%;
    a{
        color: $primary-color;
    }

}
