@import "../../../../assets/constant.scss";
.disases-page-wrapper{
    display: flex;
    flex-direction: column;
    gap:2vh;
    margin-top: 10vh;
    div.line{
        height: 1px;
        width: 95%;
        background-color: $primary-color;
        margin: 5px 2.5%; 
    }
}
.disases-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border;
    height: 40%;
    width: 40%;
    background-color: rgba($primary-color, 0.6);
    color: $secendary-color;
    z-index: 2;


}
.main-text{
    text-align: justify;
    width: 90%;
    margin: 0 5%;

}
.links{
    display: flex;
    width: 90%;
    margin:0 5%;
    gap:10px;
    text-transform: capitalize;
    flex-direction: column;
    text-align: left;
    cursor:pointer;
}
