@use "../../../assets/constant.scss" as constants;

.menu-navigation {
  display: flex;
  position: fixed;
  top: calc(constants.$nav-height - 1vh);
  bottom: 0;
  right: 1000vw;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  transition: 0.6s;
  &.open {
    right: 0;
  }
  .menu-ul-wrapper-portrait {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    justify-content: space-between;
    width: 90%;
    height: 85%;
    list-style: none;
    li {
      font-family: constants.$font;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: bold;
      cursor: pointer;
      a {
        color: constants.$primary-color;
      }
      }
    }
}
.button-menu-contact{
  width: 100%;
  height: 10vh;
  border-radius: constants.$border;
  border: 1px solid constants.$primary-color;
  a{
    color: constants.$primary-color;
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    height: 100%;
  }
}
