@use "../../assets/constant.scss" as constants;
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    width: 98%;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .header-wrapper {
    width: 50%;
    height: 80vh;
  }
  .header-wrapper.header-incications, .header-wrapper.header-contraindications{
    width: 100%;
    background-size: contain;
  }
  .header-wrapper.disases-header-wrapper, .header-wrapper.header-service-page {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .header-wrapper {
    width: 50%;
    height: 80vh;
  }
  .header-wrapper.header-incications,.header-wrapper.header-contraindications {
    width: 100%;
    background-size: contain;
  }
  .header-wrapper.disases-header-wrapper,.header-wrapper.header-service-page {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) and (orientation: landscape) {
  .header-wrapper {
    width: 50%;
  }
  .header-wrapper.header-incications,.header-wrapper.header-contraindications {
    width: 100%;
    background-size: contain;
  }
  .header-wrapper.disases-header-wrapper,.header-wrapper.header-service-page {
    width: 100%;
  }
}
