@import "../../../../assets/constant.scss";
.menu-navigation-landscep-wrapper {
  display: flex;
  align-items: center;
  width: 65%;
  height: 100%;
  .menu-ul-wrapper-landscape {
    display: flex;
    justify-content: space-around;
    width: 100%;
    li{
      list-style: none;
      position: relative;
      display: inline;
    }
    a {
      font-family: $font;
      color: black;
      font-size: 1vw;
      font-weight: 400;
      text-transform: uppercase;
      &::after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition:width 0.3s ease, left 0.3s ease; 
      }
      &:hover::after{
        width: 100%;
        left: 0;
      }
    }
  }
}
@media screen and (orientation: portrait) {
  .menu-navigation-landscep-wrapper {
    display: none;
  }
}
