.contraindications-wrapper{
    margin-top: 10vh;
    color:black;
    h2{
        margin:1vh 2.5%;
        width: 95%;
        text-align: left;
    }
}
.contraidications-button-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    gap:10px;
    margin: 2vh 2.5%;
}